---
layout: default
---


{% include post.html post=page %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
font-family: 'Zen Antique Soft', serif;
    p{ font-family: 'Zen Antique Soft', serif; }
    .p{ font-family: 'Zen Antique Soft', serif; }
    post{ font-family: 'Zen Antique Soft', serif; }
    .post{ font-family: 'Zen Antique Soft', serif; }
</style>

{% if site.author.disqus %}
    {% include externals/disqus.html %}
{% endif %}

{% include post/related.html %}
